/* navbar */
#top_nav {
    background-color: #daac00;
    /* padding: 0 8%; */
}

.navbar-dark .navbar-nav .nav-link {
    color: rgb(255 255 255);
    font-size: 18px;
    padding-left: 25px;
}

#searchbox {
    background-color: #fcc302;
    color: white;
    border: 0px;
    border-radius: 0px;
    position: relative;
    left: 47px;
    box-shadow: 5px 10px 11px 8px #00000021;
}

#searchbox::placeholder {
    color: white;
}

#searchbtn {
    position: relative;
    z-index: 99;
    background-color: #00bec9;
    border: 0px;
    border-radius: 0px;
}

@media only screen and (max-width:768px) {
    #searchform {
        margin-bottom: 30px;
        margin-top: 20px;
        position: relative;
        left: -20px;
    }
}

@media only screen and (max-width:500px) {
    #top_nav {
        padding: 0px;
    }
}

/* banner */
#banner {
    background-color: #fcc302;
    padding-bottom: 20px;
}

#bannertext h1 {
    color: white;
    font-size: 50px;
    margin-top: 100px;
}

#bannertext p {
    color: white;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}

#banner-btn-1 {
    background-color: #00bec9;
    border: 2px solid#00bec9;
    color: white;
}

#banner-btn-2 {
    color: white;
    border: 2px solid white;
    margin-left: 15px;
}

@media only screen and (max-width:1300px) {
    #bannertext h1 {
        font-size: 50px;
    }

    #banner {
        padding-bottom: 40px;
    }
}

@media only screen and (max-width:900px) {
    #bannertext h1 {
        font-size: 40px;
    }

    #bannerimg img {
        padding-top: 70px;
    }
}

/* service */
#service-text {
    padding-top: 10%;
    padding-bottom: 5%;
}

#service-btn {
    color: white;
    background-color: #fcc302;
    border: 2px solid #fcc302;
}

#service-image {
    padding: 5%;
}

@media only screen and (max-width:768px) {
    #service-image {
        padding-top: 10%;
    }
}

/* counter */
#counter-section {
    background-image: url(../images/mid.jpg);
    padding-top: 50px;
    padding-bottom: 70px;
    background-position: center;
    background-size: cover;
    /* background-color: #daac00; */
}

.counter-icon {
    font-size: 55px;
}

@media only screen and (max-width:500px) {
    .counter-icon {
        font-size: 45px;
    }
}

/* footer */
#footer {
    background-color: #343434;
    padding-bottom: 88px;
}

#footer a {
    color: white;
    text-decoration: none;
}

#footer-form {
    margin-top: 10px;
    margin-bottom: 10px;
}

#footer-serch-box {
    background-color: #fcc302;
    color: white;
    border: 0px;
    padding: 15px;
    max-width: 230px;
    position: relative;
    left: 10px;
}

#footer-serch-submit {
    background-color: #00bec9;
    color: white;
    border: 0;
    border-radius: 0;
    padding: 15px 30px;


}

.social-icon {
    font-size: 25px;
    padding-left: 5px;
}

@media only screen and (max-width:1150px) {
    #footer-serch-box {
        max-width: 200px;
    }
}

@media only screen and (max-width:768px) {
    #footer-serch-box {
        max-width: 130px;
    }
}

@media only screen and (max-width:500px) {
    #footer-serch-box {
        max-width: 180px;
    }

    #footer h4 {
        padding-top: 50px;
    }

}